* {
  box-sizing: border-box;
}
.header {
  width: 83%;
  border: 1px solid red;
  float: right;
  padding: 0px;
}
.menu {
  width: 17%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}
.main {
  width: 83%;
  float: right;
  padding: 15px;
  border: 1px solid red;
}
.header-logo-invertocat {
  font-size:9px;
  margin-left: 3.5px;